.play-button-container {
  position: absolute;
  display: grid;

  margin-top: 118px;
  margin-left: 245px;

  .play-button {
    display: grid;
    align-items: center;
    justify-content: center;

    width: 51px;
    height: 51px;

    border: none;
    border-radius: 50%;
    background: #ff334b;
  }
}
