.background {
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #09131d 100%);
}
.blurr {
  position: absolute;
  width: 376px;
  height: 812px;
  left: -1px;
  top: 0px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #c7e3ff73 100%
  );
}
.frame {
  position: absolute;
}
.login-title {
  position: absolute;
  width: 195px;
  height: 60px;
  left: 33px;
  top: 171px;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;

  color: #ffffff;
}
